<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
		{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

		<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

		<!-- Bootstrap Core Css -->
		<link href="{{asset( 'plugins/bootstrap/css/bootstrap.css') }}" rel="stylesheet">
		<!-- Waves Effect Css -->
		<link href="{{asset( 'plugins/node-waves/waves.css')}} " rel="stylesheet" />
		<!-- Animation Css -->
		<link href="{{asset( 'plugins/animate-css/animate.css') }}" rel="stylesheet" />
		<!-- Morris Chart Css-->
		<link href="{{asset( 'plugins/morrisjs/morris.css') }}" rel="stylesheet" />
		<!-- Custom Css -->
		<link href="{{asset( 'css/style.css') }}" rel="stylesheet">
		<!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
		<link href="{{asset( 'css/themes/all-themes.css') }}" rel="stylesheet" />
    </head>
	<body class="login-page">
		<div class="login-box">
			{% block body %}{% endblock %}
		</div>
		<script src="{{ asset('plugins/jquery/jquery.min.js') }}"></script>
		<script src="{{ asset('plugins/bootstrap/js/bootstrap.js') }}"></script>
		<script src="{{ asset('plugins/node-waves/waves.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/head.min.js') }}"></script>
		<script type="text/javascript">
			head.load(
				[
					'{{ asset('plugins/jquery-validation/jquery.validate.js')}}',
					'{{ asset('js/admin.js')}}'
					
				]
			);
		</script>
		{% block javascripts %}{% endblock %}
    </body>
</html>
