{% extends 'base.html.twig' %}

{% block body %}
    <h1>Currencies list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Slug</th>
                <th>Active</th>
                <th>Sortorder</th>
                <th>Createdon</th>
                <th>Lastupdated</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for currency in currencies %}
            <tr>
                <td><a href="{{ path('currencies_show', { 'id': currency.id }) }}">{{ currency.id }}</a></td>
                <td>{{ currency.name }}</td>
                <td>{{ currency.slug }}</td>
                <td>{% if currency.active %}Yes{% else %}No{% endif %}</td>
                <td>{{ currency.sortOrder }}</td>
                <td>{{ currency.createdOn }}</td>
                <td>{{ currency.lastUpdated }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('currencies_show', { 'id': currency.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('currencies_edit', { 'id': currency.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('currencies_new') }}">Create a new currency</a>
        </li>
    </ul>
{% endblock %}
