{% extends '@App/base.html.twig' %}

{% block body %}
    <h1>Currencies list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Code</th>
                <th>Active</th>
                <th>Symbol</th>
                <th>Createdon</th>
                <th>Modifiedon</th>
                <th>Iconimage</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for currency in currencies %}
            <tr>
                <td><a href="{{ path('currency_show', { 'id': currency.id }) }}">{{ currency.id }}</a></td>
                <td>{{ currency.name }}</td>
                <td>{{ currency.code }}</td>
                <td>{% if currency.active %}Yes{% else %}No{% endif %}</td>
                <td>{{ currency.symbol }}</td>
                <td>{% if currency.createdOn %}{{ currency.createdOn|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if currency.modifiedOn %}{{ currency.modifiedOn|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ currency.iconimage }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('currency_show', { 'id': currency.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('currency_edit', { 'id': currency.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('currency_new') }}">Create a new currency</a>
        </li>
    </ul>
{% endblock %}
